{extends file="email-layout.tpl"}

{* Open in browser  *}
{block name="browser"}{/block}

{* No big image header *}
{block name="image-header"}{/block}

{* No pre-header *}
{block name="pre-header"}{/block}

{* Subject  *}
{block name="email-subject"}
    {$dom = "payzenembedded.email.default"}
    {intl l="The payment of your order is confirmed" d=$dom}
{/block}

{* Title  *}
{block name="email-title"}{intl l="The payment of your order is confirmed" d=$dom}{/block}

{* Content  *}
{block name="email-content"}
    <p>{intl l='Your invoice is now available <a href="%account_url">in your customer account</a> on %store_name'}
        account_url={url path="/account"}
        store_name={config key="store_name"}
        d=$dom}</p>

<p>{intl l="Thank you again for your purchase." d=$dom}</p>

<p>{intl l="The %store_name team" store_name={config key="store_name"} d=$dom}</p>
{/block}
